mat-toolbar {
  justify-content: space-between;
  background: rgb(212, 242, 255);
  background: linear-gradient(90deg, rgba(212, 242, 255, 1) 9%, rgba(24, 168, 255, 1) 53%, rgba(12, 47, 95, 1) 100%);
  border-end-end-radius: 50px;
}

.logo {
  width: 30vw;
  height: 20vh;
  position: relative;
  left: -50px;
}


.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}