mat-toolbar {
  justify-content: space-between;
  background-color: rgb(216, 198, 202);
  border-end-end-radius: 50px;
}

.logo{
  width: 15vw;
  height: 10vh;
}
.content {
  padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}
