<div class="login1">
<div class="form-container mat-elevation-z5" id="entra" >
  <h1>Ingresa</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Ingresa el correo
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Ingresa la contraseña
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Ingresa la contraseña
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary">Ingresa</button>
    </div>
    <span class="center margin-top">Eres nuevo? <a class="sign-up-link" routerLink="/sign-up">Registrate</a></span>
  </form>
</div>
</div>
